.DS_Store
build/
dist/
*.o
*.obj
*.pch
*.gch
.doof/
.reckon/


# VS Code extension build products
extensions/vscode-doof/node_modules/
extensions/vscode-doof/out/
extensions/vscode-doof/artifacts/
extensions/vscode-doof/*.vsix

extensions/vscode-doof/.vscode-test/
